{% extends "polls/base.html" %}

<!-- 
{{question}}
-->

<!-- 
<h1>{{question.question_text}} </h1>

<ul>

{% for choice in question.choice_set.all %}
	<li>{{choice.choice_text}}</li>
{% endfor %}

</ul>

-->

{% block title %} Django Demo {% endblock %}

{% block content %}

<h5 class="text-center"> {{question.question_text}} </h5>

{% if error_message %}<p><strong class="alert-danger">{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'polls:vote' question.id %}#polls-application" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<input class="form-check-radio" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		<label class="text-left text-info" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> <br />
	{% endfor %}

	<input class="results-django form-check-radio" type="submit" Value="Vote" id="btnSubmit" />


</form>

{% endblock %}